.Card {
  width: 120px;
  height: 218px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.StockCardContainer {
  display: flex;
  justify-content: center;
}

.InnerCardLoading {
  width: 100px;
  height: 180px;
  justify-content: center;
  align-items: baseline;
}

.DeleteButton {
  position: "absolute";
  top: "-10px";
  right: "-10px";
  width: "20px";
  height: "20px";
  transform: "scale(0.5)";
}

.ProgressBar {
  background-color: #ff9800;
}
